.todoapp {
  min-height: 300px;
  width: 300px;
  background: whitesmoke;
  box-shadow: 1px 1px 5px black;
  margin: auto;
  margin-top: 50px;
  padding: 10px;
}

.inp {
  text-align: center;
  padding: 10px;

}

.inp input {
  height: 40px;
  width: 250px;
  /* background: rgb(209, 245, 247); */
  margin: 2px;
  color: black;
  border: none;
  padding: 3px;
  box-shadow: 2px 2px 4px grey;
  font-size: 23px;
  text-transform: capitalize;
  text-indent: 10px;
}


.inp button {
  /* height: 30px; */
  width: 100px;
  margin: 12px;
  text-transform: capitalize;
  background: purple;
  color: white;
  box-shadow: 1px 1px 4px grey;
  font-size: 23px;
  padding: 5px;
  cursor: pointer;
}

.list{
 height: 20px;
  display: flex;
  justify-content: space-between;
 font-size: 23px;
 box-shadow: 1px 1px 4px black; 
 padding: 10px;
 align-items: center;
 margin: 12px;
 background: whitesmoke;
 text-transform: capitalize;
}

.list span button{
  background: purple;
  color: white;
  font-size: 23px;
  text-transform: capitalize;
  padding:0px 15px;
  box-sizing: border-box;
  cursor: pointer;
  box-shadow: 1px 1px 5px  grey;
}